In [77]:
import pandas as pd
import numpy as np
import os
import re

In [78]:
os.getcwd()

'C:\\Users\\alokranjan\\Documents\\leanpy'

In [79]:
path = r'C:\Users\alokranjan\Documents\leanpy'

In [80]:
import os
os.chdir(path)

In [81]:
os.getcwd()

'C:\\Users\\alokranjan\\Documents\\leanpy'

In [10]:
#Install xlrd module to read xl file
%pip install xlrd -U

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/b0/16/63576a1a001752e34bf8ea62e367997530dc553b689356b9879339cf45a4/xlrd-1.2.0-py2.py3-none-any.whl (103kB)
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 20.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [82]:
#Read the excel file. You would need xlrd module for this
df = pd.read_excel('WAChatPFM03.xlsx')

In [83]:
df.head()

,Date,Texter,Content
0,"10/27/18, 5:01 PM",Alok Ranjan,<Media omitted>
1,"10/27/18, 5:01 PM",Alok Ranjan,<Media omitted>
2,"10/27/18, 5:01 PM",Alok Ranjan,Ek Yogi dusre Yogi ke saath
3,"10/27/18, 5:01 PM",Alok Ranjan,Congrats Yogi Bhai!
4,"10/27/18, 5:04 PM",IIFM PFM 03 Samir Stephan Kujur,üëçüëçüëç

In [84]:
#Remove all the emojis
df['Content'] = df['Content'].str.replace('[^\w\s#@/:%.,_-]', '', flags=re.UNICODE)

In [85]:
#Convert all the messages to lower case
df["Content"] = df["Content"].str.lower()

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1634 entries, 0 to 1633
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     1634 non-null   object
 1   Texter   1634 non-null   object
 2   Content  1626 non-null   object
dtypes: object(3)
memory usage: 38.4+ KB

In [87]:
#Replace the NA/NaN with empty string
df.Content = df.Content.fillna('')

In [94]:
#Search the birthday string variations in the message/Content column
df[df['Content'].str.contains('bday|birthday|hbd')]

,Date,Texter,Content
409,"3/31/19, 6:34 AM",Alark Saxena | PFM03,happy birthday to aashish katara
412,"3/31/19, 7:27 AM",Sudipto Ghosh | PFM03,happy birthday katara
415,"3/31/19, 8:06 AM",Nishant Choudhary | PFM03,happy birthday dear ashish bhai....
417,"3/31/19, 8:20 AM",Ankur Seth | PFM03,happy birthday katara.... enjoy the day
419,"3/31/19, 8:23 AM",Priti Barman | PFM03,happy birthday katara
...,...,...,...
1620,"5/20/20, 10:30 AM",Aman Gupta | PFM03,happy birthday deepak bhai
1623,"5/20/20, 10:59 AM",+91 85059 46749,happy birthday nag
1626,"5/20/20, 11:17 AM",Rachit Bansal | PFM03,nag wishing you a very happy birthday
1628,"5/20/20, 11:41 AM",IIFM PFM 03 Vaibhav Chaturvedi,happy birthday darling deepak
1629,"5/20/20, 11:48 AM",Anand Roomie | PFM03,happy bday deepak.

In [95]:
df1=df[df['Content'].str.contains('bday|birthday|hbd')]

In [96]:
#df1['new_date'] = [d.date() for d in df1['Date']] # if the date column is timestamp
#df1['new_time'] = [d.time() for d in df1['Date']] # if the date column is timestamp

AttributeError: 'str' object has no attribute 'date'

In [97]:
#Split the datetime column to date and time columns
df1[['date','time']] = df1.Date.str.split(",",expand=True,) # split the date and time column to date and time

c:\users\alokranjan\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [98]:
df1.head()

,Date,Texter,Content,date,time
409,"3/31/19, 6:34 AM",Alark Saxena | PFM03,happy birthday to aashish katara,3/31/19,6:34 AM
412,"3/31/19, 7:27 AM",Sudipto Ghosh | PFM03,happy birthday katara,3/31/19,7:27 AM
415,"3/31/19, 8:06 AM",Nishant Choudhary | PFM03,happy birthday dear ashish bhai....,3/31/19,8:06 AM
417,"3/31/19, 8:20 AM",Ankur Seth | PFM03,happy birthday katara.... enjoy the day,3/31/19,8:20 AM
419,"3/31/19, 8:23 AM",Priti Barman | PFM03,happy birthday katara,3/31/19,8:23 AM

In [100]:
#Group by the date when birthday wishes were given and concate all the birthday wishes
#A quick eyeball check of text would confirm that the date indeed is birthday of a person

df2 = df1.groupby(['date'])['Content'].apply(','.join).reset_index()

In [102]:
df2

        date                                            Content
0    10/1/19   happy birthday shailesh , happy birthday bhol...
1    10/3/19   happy birthday anand, have an awesome day, ha...
2    10/4/19   happy birthday anand......, happy bday anand,...
3   11/16/19   oye,  tumhari nakli birthday ki bhi pictures ...
4   12/23/19   happy birthday rachit bhai , rachitaba ko dhe...
5    2/25/20   happy birthday ashu..  and many happy returns...
6    2/26/20   happy birthday ladoo, happy birthday, ankur, ...
7    2/28/20   happy birthday koyel.... have a wonderful day...
8    2/29/20   happy birthday koel, koyel wishing u a very h...
9    3/20/20   barru bhai..happy bday, happy birthday barru....
10   3/31/19   happy birthday to aashish katara  , happy bir...
11    4/1/20   happy birthday ashish bhai , happy birthday a...
12   4/20/20   wish you a blessed and wonderful birthday rav...
13   4/30/20   happy birthday rohini are you in delhi, happy...
14   5/20/20   happy birthday deepak, happy birthday deepak,...
15    5/5/20   happy birthday aiyush , many good wishes for ...
16    5/7/20   btw, my tithee birthday is on buddha purnima....
17    9/3/19   happy birthday yogi bhai, happy birthday yoge...
18   9/30/19   happy birthday shailesh , happy birthday sail...
19    9/4/19                           happy birthday yogi bhai

In [106]:
df2.to_excel('pfm03bdays.xlsx') #export it to excel file. Need openpyxl module for it to work

In [105]:
%pip install openpyxl -U #magic command to install this module from Jupyter notebook

Collecting openpyxl
  Downloading https://files.pythonhosted.org/packages/95/8c/83563c60489954e5b80f9e2596b93a68e1ac4e4a730deb1aae632066d704/openpyxl-3.0.3.tar.gz (172kB)
Collecting jdcal (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/f0/da/572cbc0bc582390480bbd7c4e93d14dc46079778ed915b505dc494b37c57/jdcal-1.4.1-py2.py3-none-any.whl
Collecting et_xmlfile (from openpyxl)
  Downloading https://files.pythonhosted.org/packages/22/28/a99c42aea746e18382ad9fb36f64c1c1f04216f41797f2f0fa567da11388/et_xmlfile-1.0.1.tar.gz
Building wheels for collected packages: openpyxl, et-xmlfile
  Building wheel for openpyxl (setup.py): started
  Building wheel for openpyxl (setup.py): finished with status 'done'
  Created wheel for openpyxl: filename=openpyxl-3.0.3-py2.py3-none-any.whl size=241265 sha256=f7bf358581f79cf3fa30f52203d1c59f0215ecc67bcd86fe1293674f9d461cc5
  Stored in directory: C:\Users\alokranjan\AppData\Local\pip\Cache\wheels\b5\85\ca\e768ac132e57e75e645a151f8badac71cc0089e7225dddf76b
  Building wheel for et-xmlfile (setup.py): started
  Building wheel for et-xmlfile (setup.py): finished with status 'done'
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-cp37-none-any.whl size=8922 sha256=0334a0e1777e698ac4ef9fb525f4750a7b465f99dd5ebca71a5082d69b831353
  Stored in directory: C:\Users\alokranjan\AppData\Local\pip\Cache\wheels\2a\77\35\0da0965a057698121fc7d8c5a7a9955cdbfb3cc4e2423cad39
Successfully built openpyxl et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.3
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 19.2.3, however version 20.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.